.card{
    background-color: #ffda77;
    box-shadow: 2px 4px 4px gray;
    padding: 15px;
    text-align: center;
    width: 490px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}
.cardHeading{
    font-size: 40px;
    margin: 10px 0;
}
.cardDesc{
    font-size: 18px;
}